<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= listTitle%></h1>
    </div>

    <div class="box">
            <% for(var i=0;i<newlistitems.length;i++) {%>
            <div class="item">
                <input type="checkbox">
                <p><%= newlistitems[i]%></p>
            </div>
            <%}%>
            <form action="/" method="post" class="item">
                <input type="text" name="newitem" id="newitem" placeholder="New Item" autocomplete="off">
                <button type="submit" id="list" name="list" value="<%= listTitle%>">+</button>
            </form>
    </div>

<%- include("footer") -%>
